{% extends 'base.html' %} {% block content %}

<header id="contact-header">
  <h1>Skontaktuj się z <span id="maincolor">nami</span></h1>
  <p>
    Chcesz zgłosić błąd na stronie, pomóc w rozwoju projektu bądź po prostu
    zadać jakieś pytanie? Skontaktuj się z nami za pomocą poniższego formularza!
  </p>
</header>

<form method="post">
<div id="form-content">
    {% csrf_token %}
    {% for form_element in form %}
    <div class="input-holder" id="holder_{{form_element.name}}">
      {% if form_element.label != "Captcha" %}
      <label for="id_{{form_element.name}}">{{form_element.label}}</label>
      {% endif %}
      <br>
      {{form_element}}
      {% if form_element.errors %}
        {% for error in form_element.errors %}
        <p class="form-error">{{error}}</p>
        {% endfor %}
      {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="Wyślij">
  </div>
</form>

{% endblock content %}
