header#contact-header {
    background-color: unset;
    border-radius: unset;
    height: unset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1:first-child {
        margin-bottom: 0.5em;
    }

    p {
        width: 50%;
        text-align: center;
        font-size: 15pt;
    }
}

div#form-content {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    div.input-holder {
        width: 48%;

        input,
        label,
        select {
            width: 100%;
        }

        input,
        select,
        textarea,
        iframe[title="reCAPTCHA"] {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        &#holder_content,
        &#holder_captcha {
            width: 100%;

            textarea {
                width: 100%;
            }
        }
    }

    input[type="submit"] {
        margin-top: 20px;
        margin-left: auto;
    }
}

article#contact-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    img {
        width: 500px;
    }
    h1 {
        margin: 0;
    }
    p {
        width: 20%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1600px) {
    div#form-content {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    div#form-content {
        width: 92%;
        div.input-holder {
            width: 100%;
        }

        input[type="submit"]{
            width: 100%;
        }
    }

    article#contact-success {
        p {
            width: 50%;
        }
    }

    header#contact-header {
        p{
            width: 80%;
        }
    }
}

@media screen and (max-width: 600px) {
    article#contact-success {
        img {
            width: 98vw;
        }
    }
    
    article#contact-success {
        p {
            width: 90%;
        }
    }
}
