@mixin header-panel {
    padding: 20px 50px;
    width: 50%;
    height: 100%
}

header{
    @include rounded-element;
    
    width: 70%;
    height: 400px;
    background-color: $headerBgColor;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 80px;

    display: flex;
    flex-direction: row;

    h1{
        font-size: 30pt;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    p{
        font-size: 16pt;
        margin: 0px;
        line-height: 1.6;
    }

    div#left-header-panel{
        @include header-panel;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    div#right-header-panel{
        @include header-panel;

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        padding-bottom: 0;

        img{
            height: 110%;
            position: relative;
            left: 50%;  
            top: 100%;
            transform: translate(-50%, -100%);
        }
    }
}

section{
    width: 70%;
    margin: auto;
    margin-top: 60px;

    h2{
        font-size: 20pt;
        color: $mainColor;
        margin-bottom: 30px;
    }

    p{
        width: 85%;
        margin: auto;
        font-size: 15pt;
        line-height: 2;
    }
}

@media screen and (max-width: 1400px){
    div.category-selector{
    
        div.category-holder{
            width: 90%;
        }
    
    }
    
    header{
        width: 90%;
    }

    section{
        width: 90%;
    }
}

@media screen and (max-width: 1400px){
    div.category-selector{
    
        div.category-holder{
            width: 80%;
        }
    
    }
    
    
    header{
        width: 80%;
    }

    section{
        width: 80%;
    }
}

@media screen and (max-width: 1150px){
    section{
        text-align: center;
    }

    div.category-selector{
    
        div.category-holder{
            width: 98%;
        }
    
    }
    

    header{
        width: 98%;

        height: auto;
        
        flex-direction: column-reverse;
        

        div#right-header-panel { 
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            img { 
                height: 100%;
                width: 90%;
                position: unset;
                transform: unset;
                max-width: 700px;
            }
        }

        div#left-header-panel{
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;

            h1{
                font-size: 25pt;
            }

        }
    }

    section{
        width: 98%;
    }


}