input,
select,
textarea {
    height: 45px;
    border-radius: 6px;
    border-style: solid;
    border-color: $inputColor;
    border-width: 2px;
    font-size: 12pt;
    padding: 0px 8px;
    color: $mainColorDarker;
    background-color: transparent;
    resize: none;
}

textarea {
    height: 300px;
    padding: 8px;
}

button,
input[type="submit"],
input[type="reset"] {
    padding: 10px 30px;
    font-size: 16px;
    color: white;
    background-color: $buttonBackgroundColor;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: $mainColorDarker;
    }
}

::placeholder{
    color: black;
    opacity: 0.3;
}

p.form-error{
    margin-top: 5px;
    margin-bottom: 0;
    color: red;
}