@use "sass:math";

nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    background-color: $bgColor;

    height: $navbarHeight;
    z-index: 100;
    width: 100%;

    padding: math.div($navbarHeight, 2) 0px;

    img#responsive-button{
        display: none;
    }

}

div.nav-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $bgColor;
    z-index: 99;
    top: -100%;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: $navbarHeight 20px;

    a{
        margin: 0;
        margin-bottom: 20px;
        font-size: 20pt;
        
        &:last-child{
            margin-bottom: 0px;
        }

    }
}

a.nav-link{
    text-decoration: none;
    color: $headerColor;
    margin: 0px 35px;
    padding: 5px 10px;
    font-size: 13pt;

    &#active{
        color: $mainColor;
        font-weight: bold;
    }

    &:hover{
        background-color: $mainColorLighter;
        border-radius: 5px;
    }
}

@media screen and (max-width: 900px){
    nav {
        height: 20px;
        padding: math.div($navbarHeight, 3) 20px;
        justify-content: flex-start;

        a{
            display: none;
        }

        img#responsive-button{
            display: block;
            cursor: pointer;
            height: math.div($navbarHeight, 3);

        }
    }
    
}