// TODO: Make this navbar position fixed
// TODO: Make this navbar more responsive
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 100%;

    padding: 60px 0px;

    a{
        text-decoration: none;
        color: $headerColor;
        margin: 0px 35px;
        padding: 5px 10px;
        font-size: 13pt;

        &#active{
            color: $mainColor;
            font-weight: bold;
        }

        &:hover{
            background-color: $mainColorLighter;
            border-radius: 5px;
        }
    }

}