$playMinHeight: 80vh;

div#play{
    width: 80%;
    min-height: $playMinHeight;
    height: 100%;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    
    div#play-nav{
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        min-height: $playMinHeight;
        background-color: $playNavColor;

        &-header{
            height: 120px;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            div.play-nav-progress-bar{
                width: 80%;
                height: 40px;
                background-color: $mainColorLighter;

                div#play-nav-progress{
                    width: 50%;
                    height: 100%;
                    background-color: $mainColorDarker;
                    transition: 0.5s width;
                }
            }
        }

        div#play-question-holder{
            ul{
                list-style: none;
                padding-left: 0;
                text-align: center;

                padding-top: 30px;

                li{
                    font-size: 15pt;
                    color: $HColor;
                    margin-bottom: 35px;
                    cursor: pointer;

                    user-select: none;

                    transition: 0.2s opacity;

                    &:hover{
                        opacity: 0.7;
                    }

                    &.active{
                        font-weight: bold;
                    }

                    &.submited{
                        color: $mainColorDarker;
                    }
                }
            }
        }
    }

    div#play-content{
        width: 100%;
        min-height: $playMinHeight;

        h1, h2, h3, h4, h5, h6{
            margin: 0;
        }

        &-header{
            width: 100%;
            min-height: 250px;
            background-color: $playHeader;
            display: flex;
            flex-direction: column;
            padding: 60px;
    
            h6#question-category{
                font-size: 12pt;
                font-weight: 400;
                text-transform: lowercase;
                color: $mainColorDarker;
            }
            
            h1#question-title{
                margin: 5px 0;
            }
    
            p#question-content{
                font-size: 18pt;
                margin: 0;
                line-height: 1.2;
            }

            img.excercise-img{
                width: 100%;
                height: auto;
                max-width: 45%;
                margin: 20px auto;
            }
        }

        &-article{
            padding: 20px 60px;

            h1#exercise-header{
                text-align: center;
                font-weight: normal;
                font-size: 20pt;
                margin-top: 15px;
                text-transform: uppercase;
            }

            p#exercise-content{
                font-size: 15pt;
                margin-top: 15px;
                line-height: 1.5;
            }

            h6#exercise-footer{
                margin-left: auto;
                text-align: right;
                opacity: 0.5;
                font-weight: normal;
            }

            p#more-text{
                font-size: 15pt;
            }

            div.answer{
                margin-bottom: 25px;
                h1:first-child{
                    font-size: 15pt;
                }

                p{
                    font-size: 15pt;
                }

                ul{
                    list-style: none;
                    padding-left: 0;

                    overflow: auto;

                    li{
                        display: flex;
                        flex-direction: row;
                        color: $darkFontSize;
                        font-size: 14pt;
                        margin-bottom: 5px;
                        cursor: pointer;
                        width: max-content;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        user-select: none;

                        transition: 0.25s opacity;

                        &:hover{
                            opacity: 0.8;
                        }

                    }
                }

                div.answer-circle{
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    font-weight: bold;
                    color: #4B4B4B;
                    margin-right: 1em;

                    &.selected{
                        background-color: $buttonColor;
                        color: white;
                    }

                    &.wrong{
                        background-color: $wrongAnswer;
                        color: white;
                    }
                }
            }

            div.explanation{

                width: calc( 100% + 120px );
                padding: 30px 60px;
                margin: 30px 0px;
                position: relative;
                left: -60px;
                background-color: $mainColorLighter;

                h3, p{
                    opacity: 0;
                }

                h3{
                    color: $explanationHeader;
                    font-weight: 500;
                    font-size: 20pt;
                }

                p{
                    color: $explanationContent;
                    font-weight: 500;
                    font-size: 12pt;
                }
            }

        }

        button{
            margin-right: 100%;
        }
    }
    
}

div.sound-play-holder{
    width: 95%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin-top: 20px;

    img:first-child{
        height: 19px;
        cursor: pointer;
    }

    div.sound-play-progressbar{
        width: 95%;
        height: 6px;
        border-radius: 10px;
        background-color: $progressBarBackground;

        div.progressbar-status{
            width: 0%;
            height: 100%;
            background-color: $mainColorDarker;
            border-radius: 10px;
            transition: 0.2s width;
        }
    }

}

@media screen and (max-width: 1300px) {
    div#play{
        width: 100%;
        flex-wrap: wrap;

        button{
            width: 100%;
            min-height: 50px;
        }
    }

    div#play-nav{
        max-width: 100% !important;
        width: 100% !important;
        max-height: unset !important;
        min-height: unset !important;
        padding-bottom: 30px;
    }

    div.sound-play-progressbar{
        width: 90% !important;
    }

    div#play-content{
        width: 100%;
    }

    div#play-content-header{
        padding: 25px !important;
    }

    div#play-content-article{
        padding: 20px 25px !important;
    }
}

@media screen and (max-width: 700px) {
    img.excercise-img{
        max-width: unset !important;
    }
}