$bgColor: #FFFFFF;
$headerColor: #32352F;
$mainColor: #5A8268;
$mainColorLighter: #d4f0de;
$mainColorDarker: #30A057;
$fontFamily: 'Montserrat', sans-serif;
$headerBgColor: darken($bgColor, 5%);
$fontColor: #797979;
$HColor: #32352F;

$scrollBarText: #30A057;

$navbarHeight: 80px;