$bgColor: #FFFFFF;
$darkFontSize: #3C3C3C;
$headerColor: #32352F;
$mainColor: #5A8268;
$mainColorLighter: #d4f0de;
$mainColorDarker: #30A057;
$fontFamily: 'Montserrat', sans-serif;
$headerBgColor: darken($bgColor, 5%);
$fontColor: #797979;
$HColor: #32352F;
$playHeader: #FAFAFA;

$progressBarBackground: #C4C4C4;

$inputColor: #D1D1D1; 
$buttonColor: #74CE9E;
$buttonBackgroundColor: #30A057;

$playNavColor: #F2F2F2;

$scrollBarText: #30A057;

$navbarHeight: 80px;
$explanationHeader: #1F6437;
$explanationContent: #37A15C;
$wrongAnswer: #D65151;