{% extends 'base.html' %}

{% block bottom_js %}
<script src="/static/script/play.js"></script>
{% endblock bottom_js %}

{% block content %}

<div id="play">
    <div id="play-nav">
        <div id="play-nav-header">
            <h1>Angielski</h1>
            <h6>Podstawowy</h6>
        </div>
        <div id="play-question-holder">
            <ul id="question-links">
            </ul>
        </div>
    </div>
    <div id="play-content">
        <div id="play-content-header">
        </div>
        <div id="play-content-article">
        </div>
    </div>
</div>

{% endblock content %}
