{% extends 'base.html' %}

{% block bottom_js %}
<script src="/static/script/play.js"></script>
{% endblock bottom_js %}

{% block content %}

<div id="play">
    <div id="play-nav">
        <div id="play-nav-header">
            <h1>Angielski</h1>
            <h6>Podstawowy</h6>
        </div>
        <div id="play-question-holder">
            <ul id="question-links">
                <li id="active">Zadanie 1</li>
                <li>Zadanie 1</li>
                <li>Zadanie 1</li>
                <li>Zadanie 1</li>
                <li>Zadanie 1</li>
            </ul>
        </div>
    </div>
    <div id="play-content">
        <div id="play-content-header">
            <h6 id="question-category">Słuchanie</h6>
            <h1 id="question-title">Zadanie 1</h1>
            <p id="question-content">
                Usłyszysz dwukrotnie fragment programu radiowego. Zaznacz znakiem X, które zdania są zgodne z treścią nagrania (T - true), a które nie (F- false).
            </p>
            <div class="sound-play-holder">
                <img src="/static/img/play.svg">
                <div class="sound-play-progressbar">
                    <div class="progressbar-status"></div>
                </div>
            </div>
        </div>
        <div id="play-content-article">
            <h1 id="exercise-header">The night i met einstein</h1>
            <p id="exercise-content">Did you ever wonder why planes are painted white? Well, when planes leave the factory, they are usually green, but then almost 8.1. _____ of them are painted white. Sure, some have stripes, decorations, and logos in different colours, but the dominant colour is almost always white. It seems a bit strange but there are good 8.2. _____ for it. Firstly, white doesn’t fade away, and when a white plane gets old, it still looks fresh compared to a dark-coloured plane. 8.3. _____  it’s  easier  to  sell  such  a  plane.  It’s  enough  to  remove  the  company’s  name and logo. Painting a whole plane is expensive. It can 8.4. _____ up to $200,000.</p>
            <h6 id="exercise-footer">adapted from www.allindiaroundup.com  </h6>
        
            <div class="answer">
                <h1>8.1</h1>
                <ul>
                    <li> <div class="answer-circle selected"> A </div>some</li>
                    <li> <div class="answer-circle"> A </div>some</li>
                    <li> <div class="answer-circle"> B </div>some</li>
                </ul>
            </div>
            <div class="answer">
                <h1>8.2</h1>
                <ul>
                    <li> <div class="answer-circle selected"> A </div>some</li>
                    <li> <div class="answer-circle"> A </div>some</li>
                    <li> <div class="answer-circle"> B </div>some</li>
                </ul>
            </div>
            <div class="answer">
                <h1>8.3</h1>
                <ul>
                    <li> <div class="answer-circle selected"> A </div>some</li>
                    <li> <div class="answer-circle"> A </div>some</li>
                    <li> <div class="answer-circle"> B </div>some</li>
                </ul>
            </div>
            <button>Dalej</button>
        </div>
    </div>
</div>

{% endblock content %}
