@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'src/variables';
@import 'src/mixins';
@import 'src/navbar';
@import 'src/home';
@import 'src/infscroll';
@import 'src/category';
@import 'src/aboutus';
@import 'src/footer';
@import 'src/contact';

*{
    font-family: $fontFamily;
    color: $fontColor;
    box-sizing: border-box;
}

main{
    width: 100vw;
    padding-top: $navbarHeight + 50px;
}

h1, h2, h3, h4, h5, h6{
    color: $HColor;
}

body{
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: $bgColor;
    overflow-x: hidden;
}

span#maincolor{
    color: $mainColor;
}