<nav>
    <img src="/static/img/responsive-btn.png" alt="Responsive button" id="responsive-button">
    <a class="nav-link" href="/" {% if category == "home"%}id="active"{% endif %}>home</a>
    <a class="nav-link" href="/#learn" {% if category == "learn"%}id="active"{% endif %}>ucz się</a>
    <a class="nav-link" href="/o-nas" {% if category == "aboutus"%}id="active"{% endif %}>o nas</a>
    <a class="nav-link" href="#profil" {% if category == "profil"%}id="active"{% endif %}>profil</a>
    <a class="nav-link" href="/kontakt" {% if category == "contact"%}id="active"{% endif %}>kontakt</a>
</nav>

<div class="nav-menu">
    <a class="nav-link" href="/" {% if category == "home"%}id="active"{% endif %}>home</a>
    <a class="nav-link" href="/#learn" {% if category == "learn"%}id="active"{% endif %}>ucz się</a>
    <a class="nav-link" href="/o-nas" {% if category == "aboutus"%}id="active"{% endif %}>o nas</a>
    <a class="nav-link" href="#profil" {% if category == "profil"%}id="active"{% endif %}>profil</a>
    <a class="nav-link" href="/kontakt" {% if category == "contact"%}id="active"{% endif %}>kontakt</a>
</div>