{% extends 'base.html' %}

{% block bottom_js %}
<script src="/static/script/aboutus.js"></script>
{% endblock bottom_js %}

{% block content %}

<h1 id="aboutus-header">Kliknij na zdjęcie by poznać autora.</h1>

<div class="about-us">
    <div class="avatar-holder">
        <div class="avatar active" id="oktawian">

        </div>
        <div class="avatar" id="jakub">

        </div>
    </div>
    <div class="about-us-content">
        <h1>Witaj, nazywam się <span id="maincolor"> Oktawian Kausz!</span></h1>
        <p>Mam dziewiętnaście lat i pochodzę z okolic stolicy województwa Warmińsko-Mazurskiego – Olsztyna. W projekcie odpowiadam za aplikację mobilną oraz szatę graficzną całego projektu. Wcześniej zajmowałem się grafiką, jednak od 2018 roku bardziej skupiłem się na programowaniu i od tego czasu wciąż rozszerzam swoją wiedzę na temat projektowania aplikacji na Androida. W wolnym czasie pracuje też nad swoją drugą pasją – uczę się języka hiszpańskiego 🇪🇸</p>

    </div>
</div>

{% endblock content %}