{% extends 'base.html' %}

{% block bottom_js %}
<script src="/static/script/aboutus.js"></script>
{% endblock bottom_js %}

{% block content %}

<div class="about-us">
    <div class="avatar-holder">
        <div class="avatar active" id="oktawian">

        </div>
        <div class="avatar" id="jakub">

        </div>
    </div>
    <div class="about-us-content">
        <h1>Witaj, nazywam się <span id="maincolor"> Oktawian Kausz!</span></h1>
        <p>Na co dzień robię coś takiego jak dzień robię coś takiego jak dzień robię coś takiego jak dzień robię coś
            takiego jak dzień robię coś takiego jak dzień robię coś takiego jak </p>

    </div>
</div>

{% endblock content %}