{% extends 'base.html' %}

{% block content %}
<header>
    <div id="left-header-panel">
        <h1>Przygotuj się<br> do matury z <br><span id="maincolor">Matura guide.</span></h1>
        <p>
            oprogramowaniem stworzonym przez maturzystów dla maturzystów️
        </p>
    </div>
    <div id="right-header-panel">
        <img src="/static/img/teacher.png" alt="Teacher image">
    </div>
</header>
<div class="m-scroll">
    <div class="m-scroll__title">
        <div>
            <h1>
                {% for x in range %}
                Matura Guide
                {% endfor %}
            </h1>
        </div>
    </div>
</div>
<div class="category-selector" id="learn">
    <h1>Wybierz swój przedmiot</h1>
    <div class="category-holder">
        <div class="category" id="active">
            <h1>angielski</h1>
            <h6>podstawa</h6>
        </div>
        <div class="category">
            <h1>angielski</h1>
            <h6>podstawa</h6>
        </div>
        <div class="category">
            <h1>angielski</h1>
            <h6>podstawa</h6>
        </div>
    </div>
</div>
<article>
    <section>
        <h2>Na czym polega projekt?</h2>
        <p>Matura Guide to aplikacja Matura Guide to aplikacjaMatura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja Matura Guide to aplikacja </p>
    </section>
    <section>
        <h2>Matura Guide także mobilnie</h2>
        <p>Z Matura Guide możesz również korzystać na swoim telefonie. Wystarczy, że klikniesz w poniższy link i pobierzesz aplikację lub wyszukasz ją bezpośrednio w Play Store.</p>
    </section>
    <section>
        <h2>Matura Guide także mobilnie</h2>
        <p>Z Matura Guide możesz również korzystać na swoim telefonie. Wystarczy, że klikniesz w poniższy link i pobierzesz aplikację lub wyszukasz ją bezpośrednio w Play Store. </p>
    </section>
</article>

{% endblock content %}