{% extends 'base.html' %}

{% block content %}
<header>
    <div id="left-header-panel">
        <h1>Przygotuj się<br> do matury z <br><span id="maincolor">Matura guide.</span></h1>
        <p>
            oprogramowaniem stworzonym przez maturzystów dla maturzystów️
        </p>
    </div>
    <div id="right-header-panel">
        <img src="/static/img/teacher.png" alt="Teacher image">
    </div>
</header>
<div class="m-scroll">
    <div class="m-scroll__title">
      <div>
        <h1>
          {% for x in range %}
          Matura Guide
          {% endfor %}
        </h1>
      </div>
    </div>
  </div>
{% endblock content %}